/*size*/

.mypage-wrap{
    width:1200px;
    margin:80px auto;
}

/* 공통 */

.page-title{
    font-size:56px;
    font-weight:bold;
    margin-bottom:60px;
}

.section-title{
    font-size:42px;
    font-weight:700;
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:3px solid #DDDDDD;
}

/* 상단 메뉴*/

.mypage-menu{
    display:flex;
    justify-content:center;
    border-bottom:1px solid #e5e5e5;
    margin-bottom:60px;
}

/* 미선택 상태인 메뉴*/
.mypage-menu a{
	width:400px;
	text-align:center;
    text-decoration:none;
    color:#ff5f8f;
    font-size:18px;
    padding-bottom:15px;
}

/* 현재 선택 메뉴*/
.mypage-menu .active{
    color:#ff5f8f;
    border-bottom:7px solid #ff5f8f;
}


/*---------------------reservation------------------*/

/* 예매확인 / 예매취소 탭 */

.tab-area{
    display:flex;
    margin:30px 0;

}

.tab-area button{
    width:50%;
    height:70px;
    border:1px solid #ddd;
    background:#fff;
    font-size:18px;
    font-weight:600;
}

.active-btn{
    background:#1f1f27 !important;
    color:#fff !important;
}

/* 조회 영역*/

.search-area{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:35px 0;
}

.period-search,
.month-search{
    display:flex;
    align-items:center;
}

.period-search span,
.month-search span{
    margin-right:12px;
    font-size:14px;
    font-weight:600;
}

.period-search button{
    width:70px;
    height:34px;
    border:1px solid #ddd;
    background:#fff;
    margin-left:-1px;
}

.period-search button:first-of-type{
    margin-left:0;
}

.month-search{
    gap:8px;
}

.month-search select{
    width:80px;
    height:34px;
    border:1px solid #ddd;
    padding:0 8px;
}

.month-search button{
    width:70px;
    height:34px;
    border:1px solid #222;
    background:#fff;
}

/* 테이블 */

.reservation-table{
    width:100%;
    border-collapse:collapse;
}

.reservation-table th{
    background:#f7f7f7;
    text-align:center;
    height:55px;
    font-size:15px;
    border-top:2px solid #222;
}

.reservation-table td{
    text-align:center;
    height:80px;
    border-bottom:1px solid #eee;
    font-size:14px;
}

/*상태 버튼*/

.status-btn{
    min-width:85px;
    height:34px;
    border:1px solid #ddd;
    background:#fff;
    border-radius:6px;
    font-size:13px;
}

/* 페이지네이션 */

.pagination-area{
    margin-top:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.pagination-area button{
    width:40px;
    height:40px;
    border:none;
    background:#fff;
}

.active-page{
    background:#1f1f27 !important;
    color:white;
    border-radius:50%;
}

.detail-btn{
    width:35px;
    height:35px;
    border:none;
    background:none;
    cursor:pointer;
    font-size:16px;
}

.cancel-detail{
    display:none;
}

.cancel-detail td{
    background:#fafafa;
    text-align:left;
    padding:20px;
    line-height:2;
}

/*------------------memberInfo----------------------*/

/* 회원등급 */

.member-grade{
    width:100%;
    background:#f5f5f7;
    padding:30px;
    text-align:center;
    font-size:20px;
    margin:30px 0 50px;
}

.member-grade strong{
    color:#ff5f8f;
}

/* 회원정보 테이블 */

.member-table{
    width:700px;
    margin:0 auto;
    border-collapse:collapse;
}

.member-table th{
    width:180px;
    height:70px;
    border-bottom:1px solid #ddd;
    text-align:left;
    font-size:15px;
    font-weight:600;
}

.member-table td{
    border-bottom:1px solid #ddd;
    font-size:15px;
    padding-left:20px;
}

/* 비밀번호 변경 버튼 */

.change-pw-btn{
    width:130px;
    height:38px;
    border:1px solid #ddd;
    background:#fff;
    border-radius:4px;
    font-size:13px;
}

/* 수정 버튼 */

.btn-area{
    text-align:center;
    margin-top:70px;
}

.modify-btn{
    width:160px;
    height:50px;
    border:none;
    background:#1f1f27;
    color:#fff;
    font-size:15px;
    font-weight:600;
    border-radius:4px;
}